/* Define the body and the display wall */
body {
  margin: 0px;
  height: auto;
  background: url('puzzle1_background.png');
  background-repeat: repeat;
}
#header{
  width: auto;
  height: 80px;
  margin: 0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
/* Define the timer header*/
#timer{
  margin: 0px;
  border: 0px;
  width: auto;
  height: 80px;
  background-color: green;
  animation-name: timer;
  animation-delay: 2s;
  animation-duration: 13s;
  animation-fill-mode: forwards;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@keyframes timer{
  0% {
    background-color: green;
    width: auto;
  }
  25% {
    background-color: yellow;
    transform: scaleX(0.75);
  }
  50% {
    background-color: orange;
    transform: scaleX(0.5);
  }
  75% {
    background-color: red;
    transform: scaleX(0.25);
  }
  100% {
    background-color: red;
    transform: scaleX(0);
  }
}

h1{
  border: 0px;
  margin: 0px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  font-size: 35px;
  animation-name: shrink;
  animation-duration: 13s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes shrink {
  0% {
    font-size: 35px;
  }
  25% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(0);
    font-size: 0px;
  }
}

/* Define the result screen and its animation */
#result {
  z-index: 1;
  width: auto;
  height: 1500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 1500px;
  background-color: black;
  opacity: 0;
  animation-name: resultScreen;
  animation-delay: 15s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes resultScreen{
  from {
    top: 1500px;
    opacity: 0;
  }
  to {
    transform: translateY(-1580px);
    opacity: 0.8;
  }
}
/* Define the main menu button and the next button in the result screen */
button {
  margin: 30px;
  position: relative;
  padding: 8px;
  font-weight: bold;
  font-size: 26pt;
  color: black;
  text-align: center;
}

#nextBtn{
  background-color: #539904;
  opacity: 0.6;
}
#nextBtn:hover{
  opacity: 1;
}
#mainMnu{
  background-color: #B20AF5;
  opacity: 0.6;
}
#mainMnu:hover{
  opacity: 1;
}
/* Define the wall */
#center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
  position: relative;
  top: -1500px;
}
/* Define the drag and drop animation */
.box {
  display: grid;
  border: 3px solid;
  pointer-events: none;
  margin: 30px;
  padding: 0px;
}
.box > *{
  pointer-events: initial;
}

.match {
grid-area: 1/1;
background: green;
width: 0%;
transition: 0s 0.2s;
}

.box:active .match{
width: 100%;
transition: 0s;
}
img {
  grid-area: 1/1;
  transform: translate(200%);
  transition: 999s 999s;
}
.match:hover + #mona {
  background-color: green;
  transform: translate(-150px, -320px);
  transition: 0s;
}

.match:hover + #portrait {
  background-color: green;
  transform: translate(-150px, -320px);
  transition: 0s;
}

.match:hover + #jesus{
  background-color: green;
  transform: translate(1300px, -320px);
  transition: 0s;
}
.match:hover + #couple{
  background-color: green;
  transform: translate(100px, -320px);
  transition: 0s;
}

.match:hover + #mother{
  background-color: green;
  transform: translate(625px, -320px);
  transition: 0s;
}
/* Define the specifications of the images and their dropboxes */
#vinci {
  width: 192.5px;
  height: 288.5px;
}
#gogh {
  width: 204px;
  height: 247px;
}
#supper {
  width: 386px;
  height: 206.5px;
}

#eyck {
  width: 197px;
  height: 250px;
}

#raphael{
  width: 212px;
  height: 320px;
}

#mona{
  position: relative;
  left: 150px;
  top: 320px;
}

#portrait{
  position: relative;
  top: 320px;
  left: 150px;
}

#jesus{
  position: relative;
  right: 1300px;
  top: 320px;
}

#couple {
  position: relative;
  top: 320px;
  right: 100px;
}
#mother{
  position: relative;
  top: 320px;
  right: 625px;
}
